.Controls {
    display: flex;
    align-items: center;
    padding: 8px;
}

.Controls input {
    float: right;       
}

.Cell {
    text-align: left;
    border: 1px solid rgb(57, 57, 57);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.Label {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Index {
    padding-left: 0px;
    padding-right: 8px;
}

.Button {
    margin-right: 12px;
}
