.Controls {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}

.Controls input {
    float: right;       
}

@media screen and (max-width: 600px) {
    .Controls {
        flex-direction: column;
        align-items: stretch;
    }

    .TextField {
        width: 100%;
    }

    .Button {
        margin-top: 8px;
    }
}


.Cell {
    text-align: left;
    border: 1px solid rgb(57, 57, 57);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.Label {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Index {
    padding-left: 0px;
    padding-right: 8px;
}
