.Container {
    white-space: pre;
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.Line {
    height: 16px;
    display: flex;
    font-family: monospace;
}

.LineNumber {
    text-align: right;
    user-select: none;
}

.LineCode {
    margin: 0;
    padding-left: 24px;
}

.LineCode::selection {
    /* Chrome meddle with color when alpha channel > 255/256 */
    background-color: rgba(38, 79, 120, 0.996);
}
