.Container {
    white-space: pre;
    background-color: #1e1e1e;
    color: #d4d4d4;
    overflow: auto;
    max-height: 400px; /* TODO: customize */
}

.Line {
    height: 16px;
    display: flex;
    font-family: monospace;
}

.LineNumber {
    text-align: right;
    user-select: none;
    color: #4a4a4a;
}

.LineCode {
    margin: 0;
    padding-left: 24px;
}

.LineCode::selection {
    /* Chrome meddle with color when alpha channel > 255/256 */
    background-color: rgba(38, 79, 120, 0.996);
}

.Control {
    color: #C586C0;
}

.Entity {
    color: #569cd6; 
}

.String {
    color: #ce9178;
}

.Comment {
    color: #608b4e;
}
